<div class="cell medium-9 medium-cell-block-y">

  <div class="content">
    <div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3 gallery-grid"
         data-gallery="{{slug}}">

      {{#galleryImages slug}}
      <div class="cell">
        <a
          href="{{full}}"
          class="js-lightbox-item"
          data-full="{{full}}"
          data-gallery-item
        >
          <img
            src="{{thumb}}"
            alt="{{alt}}"
            loading="lazy"
          >
        </a>
      </div>
      {{/galleryImages}}

    </div>
  </div>

  {{> grid_gallery_js}}
</div>
