<!-- <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div> -->
<!-- <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
 -->
<!-- <ul class=" dropdown menu" data-dropdown-menu>
    <li class="menu-text">Site Title</li>
    {{#each global.pages}}
    <li><a href="{{page}}.html">{{title}}</a>
        {{> submenu type=menu}}
    </li>
    {{/each}}
</ul> -->
<ul class="vertical menu accordion-menu" data-accordion-menu>
    {{#each global.pages}}
    <li><a href="{{page}}.html">{{title}}</a>
        {{> submenu type=menu}}
    </li>
    {{/each}}
</ul>