<Tevékenység>
{{#ifequal page "Tevékenység"}}
{{#markdown}}

_Mit teszünk a tehetségekért?_

Az SZTE Tehetségpont részeként működő Pro TalentisUniversitatis Alapítvány célja a kiemelkedő képességgel rendelkező tehetségek

- felismerése,
- gondozása,
- felkarolása,
- számukra tehetségük kibontakoztatását biztosító kezdeményezések, rendezvények, szolgáltatások nyújtás

A hallgatói ösztöndíjak mellett a Pro TalentisUniversitatis Alapítvány az oktatás folyamatos megújításával, színvonalának emelésével, nyelvtanulási lehetőségek biztosításával támogatja a tehetséges fiatalokat.

Az Alapítvány kiemelkedő fontosságúnak tartja a tehetséges hallgatók továbbképzését és személyes, illetve szakmai kompetenciáinak fejlesztését, így többek között támogatni kívánja az új tudományos eredmények publikálását, a nemzetközi tudományos élet áramába való bekapcsolását és realizálását, s azon törekvéseket, amelyek nemzetközi szinten is  új tudományos eredményekre vezethetnek és segítik a hazai kutatók eredményeinek elismerését, illetve megvalósítását.
{{/markdown}}
{{/ifequal}}

<Szolgáltatások>
{{#ifequal page "Szolgáltatások"}}
{{#markdown}}
A cégek nem csupán adományokkal segíthetik a rászoruló tehetséges fiatalok tehetségének kibontakozását. Az Alapítvány dolgozni is kíván céljai megvalósítása érdekében, és saját erőforrásait, az egyetemi szabad kapacitásokat, széleskörű kapcsolatrendszerét kihasználva megbízási jogviszony keretében nyújt, illetve közvetít szolgáltatásokat, és az így keletkező profitot használja ebben az esetben az alapítványi célok megvalósítására az alapítvány az alábbi szolgáltatásokat nyújtja:

- Általános  fordítás, tolmácsolás
- Szakfordítás: jogi, műszaki, orvosi és egyéb tudományterületeken
- Anyanyelvi lektorálás (angol, német, francia)
- Lokalizáció
- Weboldal tervezés, honlapok létrehozása és működtetése (több nyelven is)
- Képzésszervezés, képzési programok összeállítása és képzések lebonyolítása számos területen
- Piackutatás
- Szakértői szolgáltatás
- Konferenciaszervezés, hostess-szolgáltatás
- Háttértanulmányok elkészítése
- Hallgatói munkavégzők biztosítása, diákmunka ( pl. adminisztráció munkához, szórólapozás, plakátolás
- Karrier-, illetve Pszichológiai tanácsadáshoz szakemberek biztosítása
- Grafikai tervezés
{{/markdown}}
{{/ifequal}}

<Bemutatkozás>
{{#ifequal page "Bemutatkozás"}}
{{#markdown}}

A Szegedi Tudományegyetem Tehetségpont egy elérhetetlen, ám nélkülözhetetlen célkitűzéssel indult útjára: felkutatni a régióban mindazon fiatalokat, akik valamilyen területen kiemelkedő képességgel rendelkeznek, és akik igényt tartanak arra, hogy önmegvalósítási törekvéseikben támogatást kapjanak. Segítséget nyújtani számukra, hogy a lehető legtöbbet hozzák ki magukból.

A cél elérhetetlen, hiszen minden mondat elejére oda lehetne írni, hogy „a rendelkezésünkre álló keretek között”.

Ám csupán az anyagi források végesek, a projektben közreműködő munkatársak lelkesedése végtelen. Mi lehetne lelkesítőbb vállalkozás egy tudományegyetemen, mint az igazán motivált hallgatókkal, vagy jövendő hallgatókkal való foglalatosság.

A Szegedi Tudományegyetem a tehetséggondozás területén komoly tradíciókkal rendelkezik, és a múlt tapasztalatait figyelembe véve kívánja e téren tevékenységét erősíteni. Ennek érdekében támogatta a Szegedi Tehetséggondozó Tanács felállítását, csatlakozott a tehetségpontok országos rendszeréhez, és emiatt működteti az ebben a tájékoztató kiadványban felvázolt programot.

Bízunk abban, hogy egyre többen kívánják igénybe venni szolgáltatásainkat, legyen szó a projekt keretében létrehozott információs rendszerről, a tehetséggondozó könyvtár igénybevételéről, tréningekről. Annak is örülünk, ha valaki csupán egy általunk kínált érdekes előadás meghallgatására vállalkozik. A tehetség megjelenési formája végtelen, és ehhez az evidenciához ragaszkodva igyekeztünk széles szolgáltatási kínálatot kialakítani, mely reményeink szerint sokak hasznára válik.

Prof. Dr. Badó Attila

Szegedi Tehetséggondozó Tanács elnöke

és az SZTE Tehetségpont vezetője
{{/markdown}}
{{/ifequal}}

<Történet>
{{#ifequal page "Történet"}}
{{#markdown}}
**A 2008-ban megalakult SZTE Tehetségpont célja a Szegedi Tudományegyetemen működő tehetséggondozó programok összefogása, a tehetséges hallgatók felkutatása és támogatása.**

A Csermely Péter biokémikus professzor által vezetett Nemzeti Tehetségsegítő Tanács kezdeményezésére kialakult, ma már több mint 450 tehetségpontot tömörítő országos, sőt határon is átnyúló hálózat tagjaként az SZTE Tehetségpont számos anyagi és más lehetőséget tud adni a hallgatóknak. A szervezet által összefogott ösztöndíjak és alapítványok között találjuk a Pro Talentis Universitatis Alapítványt is, amely célzatosan igyekszik megsokszorozni a szervezet forrásait.

A 2006-ban megalakult Szegedi Tehetséggondozó Tanács a legfőbb döntéshozó szerv, amely  irányelveket, célokat fogalmaz meg, a Tehetségpont pedig végrehajtja azokat. A tanács elnöke Badó Attila jogászprofesszor, tagjai között találjuk Telegdy Gergelyt, Lékó Péter nemzetközi sakknagymestert, Balogh Elemér alkotmánybírót, Hatvani László professzort, Szalay István főiskolai tanárt, egykori polgármestert, Sófi Józsefet, az SZTE Sófi József a Szegedi Tehetségekért Alapítvány létrehozóját és Járai Zsigmondot, a Magyar Nemzeti Bank Felügyelő Bizottságának elnökét, korábbi jegybankelnököt.
{{/markdown}}
{{/ifequal}}

<SzegediTehetséggondozóTanács>
{{#ifequal page "Szegedi Tehetséggondozó Tanács"}}
{{#markdown}}
Szegedi Tehetséggondozó Tanács

**A Szegedi Tudományegyetem és Szeged Megyei Jogú Város Önkormányzata a szegedi tehetséggondozás eredményeinek megőrzése és fejlesztése érdekében összehangolni igyekszik a középiskolás, valamint az Egyetemmel hallgatói jogviszonyban álló tehetségek felkarolását, gondozását. E cél elérésének egyik eszközeként 2006-ban alapították meg a Tehetséggondozó Tanácsot.**

**A Tanács feladatai közé tartozik:**

- a tehetséggondozás irányelveinek lefektetése
- tehetséggondozó programokban, pályázatok, ösztöndíjak elbírálásában való részvétel
- a jelenlegi programhoz, illetve a program jövőbeni folytatásához szükséges tőkebevonás módjának kidolgozása, áttekintése

A Szegedi Tehetséggondozó Tanács számos módon törekszik a tehetséges hallgatók támogatására. E célból többek között a Szegedi Tudományegyetem, Szeged Megyei Jogú Város Önkormányzata, és hazai vállalkozások által nyújtott anyagi támogatásból több „Talent” ösztöndíjat hozott létre. Az ösztöndíj pályázatok 2006 óta kerülnek kiírásra.

**A Szegedi Tehetséggondozó Tanács elnöke**: **Badó Attila**

**A Szegedi Tehetséggondozó Tanács tagjai**: **Balogh Elemér, Hatvani László**, **Járai Zsigmond, Lékó Péter**, **Sófi József, Szalay István**, **Telegdy Gergely, Várkonyi Andrea**
{{/markdown}}
{{/ifequal}}

<SzolgáltatásokTevékenységek>
{{#ifequal page "Szolgáltatások, tevékenységek"}}
{{#markdown}}
Az SZTE Tehetségpont 2010 óta szervez különböző tematikájú egy és kétnapos tréningeket és intenzív kurzusokat, mely során olyan tudásra és tapasztalatokra tehetnek szert a hallgatók, ami a hagyományos oktatás keretei között nem történhetne meg.

A tréningeken való részvétel ingyenes az aktív hallgatói jogviszonnyal rendelkező hallgatók számára. A soron következő tréningek időpontjai és tematikái a honlapon kerülnek kiírásra, regisztrációs lehetőség is szintén az online felületen biztosított.

A rendszeresen megszervezett tréningek tematikái közé tartozik a személyiségfejlesztés- és önismeret, prezentációs technikák, hatékony problémamegoldás, asszertív kommunikációs technikák, állásinterjú technikák, autógén stressz-kezelés, projekt- és pályázatírási ismeretek, hatékony kommunikáció, és a pályatervezés.
{{/markdown}}
{{/ifequal}}

<PartnerekTámogatók>
{{#ifequal page "Partnerek, támogatók"}}
{{#markdown}}

{{/markdown}}
{{/ifequal}}

<AktuálisPályázatok>
{{#ifequal page "Aktuális pályázatok"}}
{{#markdown}}
{{/markdown}}
{{/ifequal}}

<VállalatiÖsztöndíjProgram>
{{#ifequal page "Vállalati Ösztöndíj Program"}}
{{#markdown}}
{{/markdown}}
{{/ifequal}}

<ProTanentisDíj>
{{#ifequal page "Pro Talentis Díj"}}
{{#markdown}}


Az SZTE Tehetségpont a Pro TalentisUniversitatis Alapítvánnyal együttműködve hagyományteremtő céllal Pro Talentis Díjat alapított. A díjat az Alapítvány 2011-ben ítélte oda első alkalommal, az egyetemi tehetségek kiemelkedő támogatóinak.

Az SZTE Tehetségpont a Pro TalentisUniversitatis Alapítvánnyal együttműködve hagyományteremtő céllal Pro Talentis Díjat alapított. A díjat az Alapítvány 2011-ben ítélte oda első alkalommal, az egyetemi tehetségek kiemelkedő támogatóinak.
{{/markdown}}
{{/ifequal}}

<Elérhetőségek>
{{#ifequal page "Elérhetőségek"}}
{{#markdown}}
Pro TalentisUniversitatis Alapítvány:

Székhely: 6722 Szeged, Kálvária sgt. 30.

Adószám:18022067-2-06

Bankszámlaszám: Gránit Bank 12100011-17514646

Levelezési cím és telefonszám megegyezik az SZTE Tehetségpont elérhetőségeivel.

**SZTE Tehetségpont:**

_Cím: 6722 Szeged, Kálvária sgt. 30._

_E-mail címek:  
_[tehetsegpont@rekt.szte.hu](https://web.archive.org/web/20231201042445/mailto:tehetsegpont@rekt.szte.hu)  
[protalentisuni@gmail.com](https://web.archive.org/web/20231201042445/mailto:protalentisuni@gmail.com)

_Telefonszám: (62) 544-696_

Munkatársaink

Prof. Dr. Badó Attila

A Pro TalentisUniversitatis Alapítvány elnöke és a Tehetségpont vezetője:

A tehetség megjelenési formája végtelen, és ehhez az evidenciához ragaszkodva igyekeztünk széles szolgáltatási kínálatot kialakítani, mely reményeink szerint sokak hasznára válik.

Kemény Zsanett

Koordinátor
{{/markdown}}
{{/ifequal}}

<Galéria>
{{#ifequal page "Galéria"}}
{{#markdown}}
{{/markdown}}
{{/ifequal}}
