{{#ifequal hir "news01"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve

**pályázatot hirdet**

felsőoktatási tanulmányokat folytató, kiváló sportteljesítménnyel rendelkező, élvonalbeli kosárlabdázóknak a 2023/2024. tanévre.

A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:
* Aktív hallgatói jogviszony megléte a támogatás folyósításakor
* A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

**Az ösztöndíj mértéke: a Tanács döntése alapján max. 150.000 Ft/hó A pályázat benyújtásának módja: Az adatlapot és az alábbiakban felsorolt mellékleteket emailben kell benyújtani.**

* Pályázati adatlap
* kiállított aktív hallgatói jogviszony igazolás
* Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
* Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje: október 10. napja.** A pályázatok elbírálásának határideje: A pályázat eredményéről legkésőbb **2023. október 12. napjáig** tájékoztatjuk a pályázókat. A pályázatot a juniorakademia@szte.hu email címre kell benyújtani.

A pályázattal kapcsolatos további információ *telefonon (62/544-696), vagy e-mailben (protalentisuni@gmail.com)* kérhető.


Prof. Dr. Badó Attila a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke

{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news02"}}
{{#markdown}}
**Pályázati felhívás**

A Pro Talentis Universitatis Alapítvány
„Középiskolás Tehetségek Mentora” ösztöndíjpályázatot
hirdet tehetséggondozó tevékenységet végző középiskolai pedagógusok részére
a 2022/2023. tanév első félévére.

A pályázatok benyújtási határideje:<br>
**2023. február 5.**

**Az ösztöndíj mértéke:**<br>
a kuratórium döntése alapján<br>
**egyszeri 100.000 Ft**.

{{/markdown}}
{{/ifequal}}
 
{{#ifequal hir "news03"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve pályázatot hirdet felsőoktatási tanulmányokat folytató, kiváló sportteljesítménnyel rendelkező, élvonalbeli kosárlabdázóknak a 2022/2023. tanévre. **A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:**
* Aktív hallgatói jogviszony megléte a támogatás folyósításakor
* A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

***Az ösztöndíj mértéke:*** **a Tanács döntése alapján max. 150 000 Ft/hó**  
**A pályázat benyújtásának módja: Az adatlapot** és az alábbiakban felsorolt **mellékleteket** emailben kell benyújtani.
* Pályázati adatlap
* kiállított aktív hallgatói jogviszony igazolás
* Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
* Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje: 2022. szeptember 20. napja.**

A pályázatok elbírálásának határideje:
A pályázat eredményéről legkésőbb 2022. szeptember 27. napjáig tájékoztatjuk a pályázókat.
A pályázatot a juniorakademia@szte.hu email címre kell benyújtani.
A pályázattal kapcsolatos további információ Kemény Zsanett koordinátortól kérhető
telefonon (62/544-696),
e-mailben (kemeny.zsanett@szte.hu).

Prof. Dr. Badó Attila
a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news04"}}
{{#markdown}}
[További információk](https://juniorakademia.szte.hu/osztondijak/#vallalati)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news05"}}
{{#markdown}}
A Pro Talentis Universitatis Alapítvány *ösztöndíjat hirdet joghallgatók számára, akik a jogösszehasonlítás művelése területén kiemelkedő teljesítményt nyújtottak*.

Pályázati feltételek:

* A Jogrendszerek Világa kurzus sikeres teljesítése
* A Jogrendszerek Világa kurzus oktatójának ajánlása
* Jelesre értékelt tanulmány készítése jogösszehasonlító módszerrel

Az ösztöndíj maximális összege **5000 Ft**
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news06"}}
{{#markdown}}
A Pro Talentis Universitatis Alapítvány meghirdeti a TOP ÉLELMISZERMÉRNÖK 2021 ösztöndíjat az SZTE Mérnöki Karának élelmiszermérnök BSc szakos hallgatói számára.

Pályázati határidő: 2021. január 10.

Az ösztöndíj a Mérnöki Karon oktató Dr. Véha Antal felajánlása alapján jöhetett létre.
{{/markdown}}
{{/ifequal}}