{{#ifequal hir "news01"}}
{{#markdown}}
Az SZTE Junior Akadémia a Pro Talentis Universitatis Alapítvánnyal együttműködve

**pályázatot hirdet**

felsőoktatási tanulmányokat folytató, kiváló sportteljesítménnyel rendelkező, élvonalbeli kosárlabdázóknak a 2023/2024. tanévre.

A pályázat benyújtásának feltételei és az ösztöndíjra jogosultak köre:
* Aktív hallgatói jogviszony megléte a támogatás folyósításakor
* A pályázó hallgató az SZTE nevét viselő sportszervezetben, szakosztályban sportol, heti rendszerességgel részt vesz az egyesület, szakosztály munkájában.

**Az ösztöndíj mértéke: a Tanács döntése alapján max. 150.000 Ft/hó A pályázat benyújtásának módja: Az adatlapot és az alábbiakban felsorolt mellékleteket emailben kell benyújtani.**

* Pályázati adatlap
* kiállított aktív hallgatói jogviszony igazolás
* Egyesület, szakosztály vezetőjének írásbeli támogató nyilatkozata
* Korábbi versenyeredmények igazolása

**A pályázatok benyújtási határideje: október 10. napja.** A pályázatok elbírálásának határideje: A pályázat eredményéről legkésőbb **2023. október 12. napjáig** tájékoztatjuk a pályázókat. A pályázatot a juniorakademia@szte.hu email címre kell benyújtani.

A pályázattal kapcsolatos további információ *telefonon (62/544-696), vagy e-mailben (protalentisuni@gmail.com)* kérhető.


Prof. Dr. Badó Attila a Pro Talentis Universitatis Alapítvány kuratóriumi elnöke

{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news02"}}
{{#markdown}}
**Pályázati felhívás**

A Pro Talentis Universitatis Alapítvány
„Középiskolás Tehetségek Mentora” ösztöndíjpályázatot
hirdet tehetséggondozó tevékenységet végző középiskolai pedagógusok részére
a 2022/2023. tanév első félévére.

A pályázatok benyújtási határideje:
2023. február 5.
Az ösztöndíj mértéke: a kuratórium döntése alapján
egyszeri 100.000 Ft.

{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news03"}}
{{#markdown}}
**Iskolánk röplabda válogatottja** a Röplabda Diákolimpia Országos Döntőjében V-VI. korcsoportban **7. helyen végzett.**.

*Köszönjük Szegedi Lászlónak a felkészítést.*

*Szép volt fiúk!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}