<div class="callout primary">
  <div class="grid-x">
    <img src="{{root}}assets/img/1-szazalek-small.jpg" />
  </div>
  <div class="callout">
    <p class="text-center">
      <b
        >Kérjük, adója 1 százalékával támogassa a Pro Talentis Universitatis
        Alapítványt</b
      >, <br />hogy a jövő tehetségei is lehetőséget kapjanak!
    </p>
    <p class="text-center">
      <i
        >Az alapítvány webshopjában található könyvekből származó bevételt
        tehetséggondozó programjainkra fordítjuk.</i
      >
    </p>
    <p class="text-center">
      <a
        class="button secondary"
        href="https://protalentisuni.shopstart.hu/"
        target="_blank"
        style="text-decoration: none"
      >
        <b>Az Alapítvány webshopja itt</b></a
      >
    </p>

{{#ifequal szazalek="list"}}

{{#markdown}}
 
- Vásároljon könyvet és segítse a támogatásra érdemes egyetemi hallgatókat
- Szívesen fogadunk tárgyi adományokat is (pl. festmények, könyvek stb.) jótékonysági célra, melyet a webshopon értékesíthetünk, majd a bevételt szintén tehetségek támogatására fordítjuk. Az adományokat előzetes egyeztetés után, kuratóriumi döntés alapján tudjuk fogadni. 

 
{{/markdown}}


{{/ifequal}}
  </div>
</div>
