<div class="callout primary">
  A Pro Talentis Universitatis Alapítvány azért jött létre, hogy felismerje, támogassa és segítse kibontakoztatni azokat a fiatalokat, akik tehetségük, elhivatottságuk vagy szorgalmuk révén kiemelkednek - legyen szó tudományról, művészetről, sportról vagy más kreatív területről.
</div>

{{#markdown}}
- {{#colorSpan "secondary"}}**Tehetségek felkarolása**{{/colorSpan}} – Megtalálni azokat a fiatalokat, akikben különös potenciált látunk — akár tudományos, akár művészi, akár sportbeli területen.
- {{#colorSpan "secondary"}}**Támogatás**{{/colorSpan}} – Anyagi ösztöndíjak, ösztöndíjpályázatok, tanulmányi és karrier támogatás révén segítse, hogy a rászoruló vagy tehetséges hallgatók tanulmányaikban és céljaik elérésében ne ütközzenek anyagi akadályokba.
- {{#colorSpan "secondary"}}**Támogatás**{{/colorSpan}} továbbtanuláshoz, szakmai továbbképzésekhez, kutatási, publikálási lehetőségekhez, nemzetközi mobilitáshoz.
- {{#colorSpan "secondary"}}**Fejlődési lehetőségek teremtése**{{/colorSpan}} – Konferenciák, szakmai rendezvények, továbbképzések, nemzetközi együttműködések támogatása.
- {{#colorSpan "secondary"}}**A Szegedi Tehetséggondozó Tanács**{{/colorSpan}} által meghatározott stratégiai célokhoz forrás biztosítása.
- {{#colorSpan "secondary"}}**Az SZTE Junior Akadémia**{{/colorSpan}} tevékenységének támogatása.
{{/markdown}}
