<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
        <ul class=" dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            {{#each global.pages}}
            <li><a href="{{page}}.html">{{title}}</a>
                {{#if subtitle1}}
                <ul class="menu">
                    {{#if subtitle1}}
                    <li><a>{{subtitle1}}</a></li>
                    {{/if}}
                    {{#if subtitle2}}
                    <li><a>{{subtitle2}}</a></li>
                    {{/if}}
                    {{#if subtitle3}}
                    <li><a>{{subtitle3}}</a></li>
                    {{/if}}
                    {{#if subtitle4}}
                    <li><a>{{subtitle4}}</a></li>
                    {{/if}}
                </ul>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>