{{#unless hideLogo}}
<p class="text-center navigation-logo">
    <a class="site-logo-link" href="{{root}}index.html" aria-label="Ugrás a főoldalra">
        <img class="site-logo" src="{{root}}assets/img/pro-talentis-logo.svg" alt="Pro Talentis Universitatis Alapítvány"><br>
        Pro Talentis Universitatis Alapítvány
    </a>
</p>
{{/unless}}
<ul id="{{menuId}}" class="{{menuClass}}" data-accordion-menu>
    {{#each global.pages}}
    <li {{#ifpage page}} class="is-active" {{/ifpage}}>
        {{#if link}}
        <a href="#">{{#if icon}}<i class="{{faClassList icon ' '}}" aria-hidden="true"></i>{{/if}}<span class="menu-label">{{title}}</span></a>
        {{else}}
        <a href="{{root}}{{page}}.html">{{#if icon}}<i class="{{faClassList icon ' '}}" aria-hidden="true"></i>{{/if}}<span class="menu-label">{{title}}</span></a>
        {{/if}}
        {{> submenu type=menu}}
    </li>
    {{/each}}
</ul>
