<div class="reveal large news-modal" id="news-modal-{{content}}" data-reveal data-overlay="true">
    <div class="news-modal-header">
<div 
    </div>
    <dl class="news-modal-meta">
        <div>
            <dt>Létrehozás dátuma</dt>
            <dd>{{#if date}}{{date}}{{else}}Nincs megadva{{/if}}</dd>
        </div>
        <div>
            <dt>Beadási határidő</dt>
            <dd>{{#if deadline}}{{deadline}}{{else}}Nincs megadva{{/if}}</dd>
        </div>
    </dl>
    <div class="{{contentclass}}">
        {{> markdown_news_content hir=content}}
    </div>
    {{#if btn_link}}
    <p class="{{classes}}">
        <a class="button small" href="{{root}}assets/pdf/{{btn_link}}" target="_blank">{{btn_title}}</a>
    </p>
    {{/if}}
</div>
