<a class="palyazat-card card" href="{{root}}{{palyazatPath slug content}}">
    <div class="card-section">
        <h2 class="palyazat-card-title h6">{{title}}</h2>
        {{#if image}}
        <div class="palyazat-card-image">
            <img src="{{root}}assets/img/palyazat/{{image}}.jpg" alt="{{title}}" loading="lazy">
        </div>
        {{/if}}
        <dl class="palyazat-card-meta">
            <div>
                <dt>Létrehozás dátuma</dt>
                <dd>{{#if date}}{{date}}{{else}}Nincs megadva{{/if}}</dd>
            </div>
            <div>
                <dt>Beadási határidő</dt>
                <dd>{{#if deadline}}{{deadline}}{{else}}Nincs megadva{{/if}}</dd>
            </div>
        </dl>
    </div>
</a>
