<aside class="callout secondary">
    <h2 class="h5 text-center">Aktuális pályázatok</h2>
    <section class="palyazat-preview">
        <div class="grid-x grid-margin-y">
            {{#if sidebar_palyazat_count}}
            {{#each global.palyazatok}}
            {{#lt @index ../sidebar_palyazat_count}}
            <div class="cell small-12">
                {{> palyazat_card}}
            </div>
            {{/lt}}
            {{/each}}
            {{else}}
            {{#each global.palyazatok}}
            <div class="cell small-12">
                {{> palyazat_card}}
            </div>
            {{/each}}
            {{/if}}
        </div>
    </section>
</aside>
