<section class="palyazat-preview">
  <div class="grid-x grid-margin-x align-stretch">
    {{#each (filterBy global.palyazatok "active" true)}} {{#lt @index 3}}
    <div class="cell small-12 medium-4">{{> palyazat_card}}</div>
    {{/lt}} {{else}}
    <div class="cell small-12">
      <p class="text-center">
        <b>Jelenleg nincs aktuális pályázatunk, tekintse meg az összes elérhető pályázatunkat az alábbi blokkban:</b>
      </p>
      <p class="text-center" style="margin: 0;">
        <i class="fa-duotone fa-arrow-down" style="font-size: 2rem;"></i>
      </p>
    </div>
    {{/each}}
  </div>
</section>
