{{> title}}
<article class="card palyazat-article">
  <div class="card-section">
    {{#if image}}
    <div class="palyazat-card-image">
      <img
        src="{{root}}assets/img/palyazat/{{image}}.jpg"
        alt="{{title}}"
        loading="lazy"
      />
    </div>
    {{/if}}
    <dl class="palyazat-card-meta">
      <div>
        <dt>Létrehozás dátuma</dt>
        <dd>{{#if date}}{{date}}{{else}}Nincs megadva{{/if}}</dd>
      </div>
      <div>
        <dt>Beadási határidő</dt>
        <dd>{{#if deadline}}{{deadline}}{{else}}Nincs megadva{{/if}}</dd>
      </div>
    </dl>
    <div class="{{contentclass}}">{{> markdown_palyazat_content hir=palyazatKey}}</div>
    {{#if btn_link}}
    <p class="{{classes}}">
      <a
        class="button small"
        href="{{root}}assets/pdf/{{btn_link}}"
        target="_blank"
        >{{btn_title}}</a
      >
    </p>
    {{/if}}
    <p>
      <a href="{{root}}hirek.html">Vissza a hírekhez</a>
    </p>
  </div>
</article>
