{{>common-lead-callout-primary}}



<p class="text-center" style="margin: 0 0 0">
  <a class="button secondary" href="https://juniorakademia.szte.hu/" target="_blank" style="text-decoration: none"> <b>Tovább az SZTE Junior Akadémia weboldalára</b></a>
</p>


<div class="grid-x grid-margin-x">
    <div class="cell auto">
    </div>
  <div class="cell small-12 medium-8">
    <a href="https://juniorakademia.szte.hu/">
      {{>common-image-in-thumb}}
    </a>
  </div>
      <div class="cell auto">
    </div>
</div>